*.xcbkptlist
BPT103-Project-Foodaily.xcodeproj/project.xcworkspace/xcuserdata/sharonlee.xcuserdatad/UserInterfaceState.xcuserstate
BPT103-Project-Foodaily.xcodeproj/xcuserdata/sharonlee.xcuserdatad/xcschemes/xcschememanagement.plist
BPT103-Project-Foodaily.xcworkspace/xcuserdata/sharonlee.xcuserdatad/UserInterfaceState.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/sharonlee.xcuserdatad/xcschemes/xcschememanagement.plist
